
*{
    margin: 0;
    padding: 0;
}

.maues{
    background-image : url('pizza-topo01.jpg' ) ;
    opacity: 1.9; 
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    background-size: cover;
    padding: 60px;
color:#ffffff;
}
.maues h1{
    font-family: 'Josefin Sans', sans-serif;
    color:#ffffff;
    font-size: 15pt;
    text-align: center;
    align-items: center;
}
.secao01{
    color:#000;
    background-color: #fffffff8;
    margin-top: 0;
    font-size: 12pt;
}
.destaques{
    display: block;
    background-color: #fffffff8;
    font-size: 10pt;
    margin-top: 0;

}


h3, p{
    color:#606060;
    font-size: 10pt;
}
p{
    text-align: center;
    align-items: center;
}
.novo{
    color: chocolate;
    text-align: right;
    margin-right: 23px;


    
}
hr{
    margin-top: 8px;
    font-size: 11pt;
    padding: 0px;
}
h2{
    font-size: 12pt;
    
    
}
.imagem01{
    background-color: #faa116;
    display: block;
    margin-left:6%;
    

}
.imagem02{
    background-color: #faa116;
    display: block;
   margin-left:6%;
    

}
.x-salada3lanches{
    text-align: right;
 
}
.p1{
    text-align: left ;
    margin-left:7%;
    padding: 9px;
    
}
.p2{
    text-align: left ;
    margin-left:7%;
    padding: 9px;
    
}
.conteudo{
    margin-left:5%;
    padding: 5px;

}
.lanches{
    display: block;
   background-color: #fffffff8;
   font-size: 10pt;
   margin-top: 0;
   text-align: center;
   align-items: center;

}
.xmisto{  
    margin-top: 0;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}
.outrafoto{
    background-size: cover;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;

}
.bebidas p{
     text-align: left;
     
  
}
.bebidas{
    background-color: #ffffff;
}
footer{
    background-color:  #faa116 ;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}
#rodape{
    color: #ffffff;
}


.Logo {
    max-width: 168px;
    top: 0;
    left: 0;
    right: 0;
  }
  .Menu{
      width: 100%;
      height: 100%;
  }
  @media (max-width: 800px) {
    .Logo {
      max-width: 105px;
      z-index: 1;
      position: fixed;
      list-style: none;
      text-decoration: none;    

    }
  }
  
  .bebidas h2{
    text-align: left ;
    margin-left:7%;
    padding: 9px;
  }
  
  .btn{
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

#contato{
    color: #ffffff;
    list-style: none;
    text-align: right;
    margin-left: 63%;
    text-decoration: none;
    padding: 10px 26px;
    border-radius: 4px; 
    background-color: #fa8416;
    border-bottom: #ffffff;
    border-width: 40%;
    margin-top: 0;
    display: inline-block;
    font-size: 15px;

}
nav ul li{
    list-style: none;
    text-decoration: none;
}
.bebidas p{
    margin-left:7%;
}


.quemsomos{
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 30px;
}
.contato{
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.mensagem{
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.embaixo{
    list-style: none;
    text-transform: none;
    
}
footer .embaixo{
   color: white;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    width: 100px;
    

}
#botao{
    background-color: white;
    color: #000;
    width: 100px;
    height: 50px;
}
#botao:hover{
    background-color: #fa8416;
    color: #ffffff;
    border:#fa8416;
}
#email{
width: 100%;
height: 20px;
}
#telefone{
    width: 100%;
    height: 20px;
}
#mensagem{
    width: 100%;
    height: 70px;
}
.quemsomos h1{
    font-family: 'Josefin Sans', sans-serif;
     color:#000;
     font-size: 15pt;
     text-align: center;
     align-items: center;
     padding: 10px;
     

}
.quemsomos p{
    color: #000;
    font-size: 12pt;
    text-align: left;
}
.contato h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15pt;
    text-align: center;
    align-items: center;
    top: 0;
    padding: 9px;

}
.contato p{
    color: #000;
    font-size: 12pt;
}



